
.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(3, auto);
max-width: 100%;


}

.titulo{
display: grid;
text-align: center;
grid-column-start: 1;
grid-column-end: 4;
}
.memoria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
    max-width: 50%;
    grid-gap: 10px;
    background-color: aqua;    
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 10px 10px 10px 10px;
    border:black 1px solid;
   
    background-size: cover;
  
}
.memoria img {
    background-size: cover;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height:100%;
    
}

.botonReset{
    display: grid;
    padding-top: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
}
.botonReset input {
border-radius: 20px;
background-color: blueviolet;

}

.tapado{
    cursor: pointer;
    filter: brightness(0);
}

.destapado {
    
    filter: brightness(1);
       
}